extends layout

block content
	.col-md-6.mx-auto
		.card
			img(src=product.image, alt=product.name).card-img-top
			.card-body
				h3.card-title= product.name
				p.card-text= product.description
				h5
					| Prix: 
					span.badge.badge-pill.badge-dark #{product.price}€
				hr
				form(action="/ajouter-au-panier", method="POST")
								input(type="hidden", name="productId", value=product.id)
								button(type="submit").btn.btn-outline-dark.btn-sm ajouter au panier